In [3]:
import pandas as pd

In [4]:
#Create dataframe:
df1=pd.DataFrame([[2,4,6],[10,20,30]],columns=['Price','Age','Value'],index=['First','Second'])
df1

        Price  Age  Value
First       2    4      6
Second     10   20     30

In [5]:
import os
os.listdir()

['10 Real World Applications Using Python - Pandas.ipynb',
 'Untitled.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'DNU.ipynb',
 'supermarkets-commas.txt']

In [6]:
csv=pd.read_csv('supermarkets.csv')
json=pd.read_json('supermarkets.json')
xlsx=pd.read_excel('supermarkets.xlsx')
txt=pd.read_csv('supermarkets-commas.txt')
text=pd.read_csv('supermarkets-commas.txt')
text

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

GeoCoding Addresses with Pandas and Geopy

In [10]:
import geopy
from geopy.geocoders import Nominatim

In [25]:
nom=Nominatim()
n=nom.geocode("185 East 3rd Street, New York, New York")

In [28]:
print(n.longitude,n.latitude)

-73.9836998712883 40.7231899

In [30]:
csv['Address']=csv['Address']+", "+csv['City']+", "+csv['State']+', '+csv['Country']

In [31]:
csv.head()

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12

In [33]:
csv['Coordinates']=csv['Address'].apply(nom.geocode)
csv.Coordinates[0]

In [37]:
csv['Latitude']=csv['Coordinates'].apply(lambda x: x.latitude if x != None else None)

In [39]:
csv['Longitude']=csv['Coordinates'].apply(lambda x: x.longitude if x != None else None)

In [40]:
csv

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220